#SteamRegister {
    min-width: 100%;
    min-height: calc(100vh - 382px);
    height: fit-content;
    display: grid;
    place-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}

#SteamRegister * {
    font-family: "MotivaSansBold", sans-serif;
}

#SteamRegister-Form {
    border-radius: 5px;
    padding: 24px 32px;
    max-width: 450px;
    width: 450px;
    background-color: var(--bg-main);
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
}

#SteamRegister-FormElement {
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr;
}

.SteamRegister-FormElement-Inputs {
    display: grid;
    grid-template-areas:
        "label hint"
        "input input";
    grid-template-columns: 1fr min-content;
    gap: 2px;
}

#SteamRegister-Image{
    display: flex;
    align-items: center;
}

#SteamRegister-ImageElement {
    background-color: var(--text-main);
    border-radius: 3px;
}

#SteamRegister-Image-Form {
    width: calc(100% - 100px);
    padding: 0 0 0 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.SteamRegister-Image-Form-InputsTitle,
.SteamRegister-FormElement-InputsTitle {
    color: var(--color-primary);
    font-weight: bold;
    font-weight: 500;
    margin: 5px 0;
    font-size: 18px;
}

#SteamRegister-FormElement-Title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-dim);
    font-weight: 500;
}

#SteamRegister-FormElement-Title svg {
    padding: 0 20px;
}

#SteamRegister-FormElement-Title h1 {
    margin: 0;
}

.SteamRegister-Image-Form-InputsElements,
.SteamRegister-FormElement-InputsElements {
    border-radius: 2px;
    color: #fff;
    padding: 10px;
    background-color: #32353c;
    outline: none;
    font-size: 15px;
    grid-area: input;
    border: 1px solid #32353c;
}

.SteamRegister-Image-Form-InputsElements:focus,
.SteamRegister-FormElement-InputsElements:focus {
    background-color: var(--bg-main-alter);
}

#SteamRegister-FormSubmit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#SteamRegister-FormSubmit-Button {
    position: relative;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 20% 80%, #06BFFF 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
}

#SteamRegister-FormError {
    font-family: "MotivaSansBold", sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
    color: var(--accent-red);
}