#AccountHeader {
    width: 216px;
    height: 39px;
    position: relative;
    border-radius: 3px;
    background-color: var(--bg-highlight);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#AccountHeaderGroup {
    width: 216px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#AccountHeaderImage {
    width: 31px;
    height: 31px;
    border-radius: 2px;
}

#AccountHeaderName,
#AccountHeaderCurrency {
    text-align: center;
    align-content: center;
    max-width: 84px;
    height: 17px;
    font-family: "MotivaSansRegular", sans-serif;
    font-size: 14px;
}

#AccountHeaderName {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 84px;
    color: var(--text-main);
}

#AccountHeaderCurrency {
    width: 40px;
    color: var(--text-dim);
}

#AccountHeaderArrow {
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
}

/* --------- Sesion Dropdown --------- */

#AccountHeaderDropdown {}

#AccountHeaderOptions {
    position: absolute;
    right: 0;
    width: 100%;
    height: fit-content;
    bottom: -125%;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--bg-highlight);
    border-radius: 3px 3px 0 0;
    box-sizing: border-box;
    display: none;
}

#AccountHeader:has(#AccountHeaderDropdown:checked) #AccountHeaderOptions {
    display: flex;
}

.AccountHeaderOptions-Element {
    width: 100%;
    text-decoration: none;
    color: var(--text-main);
    font-size: 14px;
    border: none;
    margin: 0;
    background-color: transparent;
    margin: 5px 0 5px 10px;
    padding: 0;
    text-align: left;
    cursor: pointer;
}