#AccountHeader {
    width: 216px;
    height: 39px;
    position: relative;
    border-radius: 3px;
    background-color: var(--bg-highlight);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#AccountHeaderGroup {
    width: 216px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#AccountHeaderImage {
    width: 31px;
    height: 31px;
    border-radius: 2px;
    background-color: var(--text-main);
}

#AccountHeaderName,
#AccountHeaderCurrency {
    text-align: center;
    align-content: center;
    max-width: 84px;
    height: 17px;
    font-family: "MotivaSansBold", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

#AccountHeaderName {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 84px;
    color: var(--text-main);
}

#AccountHeaderCurrency {
    width: 40px;
    color: var(--text-dim);
}

#AccountHeaderArrow {
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    transition: all .1s ease;
}

/* --------- Sesion Dropdown --------- */

#AccountHeaderOptions {
    position: absolute;
    right: 0;
    width: 100%;
    height: fit-content;
    background-color: var(--bg-highlight);
    top: 115%;
    align-items: flex-start;
    padding: 0;
    flex-direction: column;
    border-radius: 3px 3px 0 0;
    box-sizing: border-box;
    display: none;
}

#AccountHeader:has(#AccountHeaderDropdown:checked) #AccountHeaderArrow {
    transform: rotateX(180deg);
}

#AccountHeader:has(#AccountHeaderDropdown:checked) #AccountHeaderOptions {
    display: flex;
}

.AccountHeaderOptions-Element {
    width: 100%;
    height: 40px;
    text-decoration: none;
    color: var(--text-main);
    font-size: 14px;
    border: none;
    background-color: transparent;
    margin: 5px 0 5px;
    padding: 0 0 0 10px;
    align-content: center;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
}

.AccountHeaderOptions-Element:hover {
    background-color: var(--text-dim);
}

#AccountHeaderOptionsCart.AccountHeaderOptions-Element {
    display: none;
}

@media (width <= 900px) {
    #AccountHeaderOptionsCart.AccountHeaderOptions-Element {
        display: block;
    }
}

@media (width <=700px) {
    #AccountHeader,
    #AccountHeaderGroup{
        width: fit-content;
        padding: 3px 5px;
    }

    #AccountHeaderName {
        display: none;
    }

    #AccountHeaderCurrency {
        display: none;
    }

    #AccountHeaderOptions {
        right: -1vw;
        top: 130%;
        width: 100vw;
        padding: 0 30px;
        box-sizing: border-box;
    }

    #AccountHeaderOptions,
    .AccountHeaderOptions-Element {
        text-align: center;
        font-family: "MotivaSansBold", sans-serif;
        font-weight: bold;
        font-size: 16px;
        background-color: var(--bg-highlight);
    }
}