.SteamSwitch {
    position: relative;
    width: 63px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}
.SteamSwitch.Active {
    background-color: var(--bg-tertiary);
}
.SteamSwitch.Desactive {
    background-color: var(--bg-highlight);
}

.SteamSwitchElement {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    transition: all .2s ease;
}
.SteamSwitchElement.Active {
    transform: translateX(calc(63px - 30px));
    background-color:  var(--color-primary);
}
.SteamSwitchElement.Desactive {
    transform: translateX(0);
    background-color:  var(--bg-hover);
}