/* Square Mode */
.SteamWishlistSquare {
    width: 62px;
    height: 58px;
    border-radius: 3px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all .1s ease;
    user-select: none;
}

.SteamWishlistSquare.Desactive:hover,
.SteamWishlistSquare.Active {
    background-color: var(--bg-hover);
}

.SteamWishlistSquare.Active:hover {
    background-color: var(--accent-red);
}

.SteamWishlistSquare.Desactive {
    background-color: var(--bg-highlight);
}

/* Normal Mode */
.SteamWishlistNormal {
    width: 134px;
    height: 44px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all .1s ease;
    user-select: none;
}

.SteamWishlistNormal-Text {
    font-family: "MotivaSansBold", sans-serif;
    font-size: 16px;
    color: var(--text-main);
}

.SteamWishlistNormal.Desactive:hover,
.SteamWishlistNormal.Active {
    background-color: var(--bg-hover);
}

.SteamWishlistNormal.Active:hover {
    background-color: var(--accent-red);
}

.SteamWishlistNormal.Desactive {
    background-color: var(--bg-highlight);
}