.SteamCartHuge,
.SteamCartHuge-Price,
.SteamCartHuge-PriceContainer {
    display: flex;
}

.SteamCartHuge {
    user-select: none;
}

.SteamCartHuge-Price {
    margin: 0 10px 0 0;
}

.SteamCartHuge-DiscountDate {
    position: relative;
    font-family: "MotivaSansRegular", sans-serif;
    font-size: 12px;
    color: var(--text-dim);
    margin: 0 13px 0 0;
    bottom: -10px;
}

.SteamCartHuge,
.SteamCartHuge-Price {
    align-items: center;
}

.SteamCartHuge-PriceContainer {
    flex-direction: column;
}

.SteamCartHuge-Prices-Normal {
    font-family: "MotivaSansBold", sans-serif;
    color: var(--text-main);
    font-size: 18px;
    font-weight: bold;
}

.SteamCartHuge-PriceContainer {
    width: 63px;
    height: 44px;
    justify-content: space-around
}

.SteamCartHuge-PriceContainer-Real,
.SteamCartHuge-PriceContainer-Discount {
    text-align: center;
}

.SteamCartHuge-PriceContainer-Real {
    position: relative;
    color: var(--bg-hover);
    font-family: "MotivaSansBold", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.SteamCartHuge-PriceContainer-Real:after {
    position: absolute;
    top: calc(19px / 2);
    left: calc(63px / 5);
    border-radius: 2px;
    content: "";
    width: 60%;
    height: 0;
    border: 1px solid var(--text-dim);
}

.SteamCartHuge-PriceContainer-Discount {
    font-family: "MotivaSansBold", sans-serif;
    font-size: 18px;
    color: var(--accent-green);
    font-weight: bold;
}

.SteamCartHuge-PricePercentage {
    height: 39px;
    width: 75px;
    border-radius: 3px;
    background-color: var(--accent-green);
    display: grid;
    place-content: center;
}

.SteamCartHuge-PricePercentageText {
    font-family: "MotivaSansBold", sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: var(--bg-main);
}

.SteamCartHuge-Button {
    width: 122px;
    height: 44px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--color-secondary);
    transition: all .2s ease;
}

.SteamCartHuge-Button:hover {
    background-color: var(--color-primary);
}

.SteamCartHuge-Button:hover .SteamCartHuge-ButtonText {
    color: var(--bg-main);
}

.SteamCartHuge-ButtonText {
    font-family: "MotivaSansRegular", sans-serif;
    font-size: 16px;
    color: var(--text-main);
}

.SteamCartSmall-Button.InLibrary,
.SteamCartHuge-Button.InLibrary {
    background-color: var(--accent-green);
}

.SteamCartSmall-Button.InLibrary span,
.SteamCartHuge-Button.InLibrary span{
    cursor: default;
    color: var(--bg-main);
}

/* Small Mode ===> Changes */
.SteamCartSmall-Button,
.SteamCartSmall-Button * {
    display: none;
}

.SteamCartSmall-DiscountDate {
    display: none;
}

.SteamCartSmall,
.SteamCartSmall-Price,
.SteamCartSmall-PriceContainer {
    display: flex;
}

.SteamCartSmall,
.SteamCartSmall-Price {
    align-items: center;
}

.SteamCartSmall {
    user-select: none;
}

.SteamCartSmall-Price {
    margin: 0 10px 0 0;
}

.SteamCartSmall-PriceContainer {
    flex-direction: column;
}

.SteamCartSmall-Prices-Normal {
    font-family: "MotivaSansBold", sans-serif;
    color: var(--text-main);
    font-size: 18px;
    font-weight: bold;
}

.SteamCartSmall-PriceContainer {
    width: 63px;
    height: 44px;
    justify-content: space-around
}

.SteamCartSmall-PriceContainer-Real,
.SteamCartSmall-PriceContainer-Discount {
    text-align: center;
}

.SteamCartSmall-PriceContainer-Real {
    position: relative;
    color: var(--bg-hover);
    font-family: "MotivaSansBold", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.SteamCartSmall-PriceContainer-Real:after {
    position: absolute;
    top: calc(19px / 2);
    left: calc(63px / 5);
    border-radius: 2px;
    content: "";
    width: 60%;
    height: 0;
    border: 1px solid var(--text-dim);
}

.SteamCartSmall-PriceContainer-Discount {
    font-family: "MotivaSansBold", sans-serif;
    font-size: 18px;
    color: var(--accent-green);
    font-weight: bold;
}

.SteamCartSmall-PricePercentage {
    height: 39px;
    width: 75px;
    border-radius: 3px;
    background-color: var(--accent-green);
    display: grid;
    place-content: center;
}

.SteamCartSmall-PricePercentageText {
    font-family: "MotivaSansBold", sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: var(--bg-main);
}