#SteamProfile {
    min-width: 100%;
    min-height: calc(100vh - 382px);
    height: calc(100% - 382px);
    padding: 51px 0;
    box-sizing: border-box;
    background: radial-gradient(#212B45 3%, #111822 73%, #0F151E 87%, #0E141B 100%);
}

#SteamProfileContent {
    max-width: 1241px;
    width: 100%;
    height: 100%;
    background-color: var(--bg-hover-35);
    margin: 0 auto;
}

#SteamProfileContent-Details {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    box-sizing: border-box;
}

#SteamProfileContent-DetailsMain {
    display: flex;
    align-items: top;
}

#SteamProfileContent-DetailsMain-Content {
    display: flex;
    flex-direction: column;
    align-items: top;
}

#SteamProfileContent-DetailsMain-Content * {
    padding: 0 0 0 33px;
    box-sizing: border-box;
    margin: 0;
    color: var(--text-main);
}

#SteamProfileContent-DetailsMain-Content h1 {
    font-family: "MotivaSansBold", sans-serif;
    font-family: bold;
    font-size: 36px;
}

#SteamProfileContent-DetailsMain-Content p {
    font-family: "MotivaSansRegular", sans-serif;
    font-size: 16px;
    color: var(--text-dim);
    margin: 10px 0 0 0;
}

#SteamProfileContent-DetailsMain-Image {
    width: 221px;
    height: 221px;
    border-radius: 2px;
    border: 4px solid var(--text-dim);
    background-color: var(--text-main);
}

#SteamProfileContent-DetailsSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 293px;
    height: 221px;
}

#SteamProfileContent-DetailsSide-EditProfile {
    display: flex;
    width: 100%;
    height: 44px;
    margin: 0 0 20px 0;
    justify-content: flex-end;
}

.SteamProfileContent-DetailsSide-EditProfile-Button {
    width: fit-content;
    font-family: "MotivaSansRegular", sans-serif;
    font-size: 16px;
    border: none;
    color: var(--text-main);
    background-color: var(--bg-highlight);
    border-radius: 3px;
    padding: 12.5px 25.5px;
    box-sizing: border-box;
    cursor: pointer;
}

#SteamProfileContent-DetailsSide-Feature {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 64px);
    padding: 10px 15px;
    background-color: var(--bg-main-20);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.SteamProfileContent-DetailsSide-FeatureElement {
    height: 63px;
    width: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

.SteamProfileContent-DetailsSide-FeatureElement-Level {
    width: 49px;
    height: 49px;
    border-radius: 49px;
    box-sizing: border-box;
    border: 2px solid #7054c3;
    display: grid;
    place-items: center;
}

.SteamProfileContent-DetailsSide-FeatureElement-Level:has(img) {
    border: none;
}

.SteamProfileContent-DetailsSide-FeatureElement-Level span {
    font-family: "MotivaSansRegular", sans-serif;
    font-size: 20px;
    color: var(--text-main);
}

.SteamProfileContent-DetailsSide-FeatureElement-Details {
    padding: 0 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(100% - 70px);
    height: 49px;
}

.SteamProfileContent-DetailsSide-FeatureElement-Details span:first-child {
    font-family: "MotivaSansRegular", sans-serif;
    font-size: 14px;
    color: var(--text-main);
}

.SteamProfileContent-DetailsSide-FeatureElement-Details span:last-child {
    font-family: "MotivaSansRegular", sans-serif;
    font-size: 14px;
    color: var(--text-dim);
}

/* ----------->  Main <----------- */

#SteamProfileContent-Main {
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 0 40px 40px;
    box-sizing: border-box;
}

#SteamProfileContent-MainContent {
    width: calc(100% - 293px);
    padding: 0 30px 0 0;
    box-sizing: border-box;
}

#SteamProfileContent-MainSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 293px;
    height: fit-content;
    background-color: var(--bg-main-50);
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}

#SteamProfileContent-MainSide * {
    font-family: "MotivaSansRegular", sans-serif;
    font-size: 16px;
    color: var(--text-main);
}

.SteamProfileContent-MainSideElement {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: 39px;
    background-color: var(--bg-main);
}

.SteamProfileContent-MainSideElement.Online {
    background: linear-gradient(45deg, var(--color-primary) 0%, var(--color-secondary) 60% 100%);
}

.SteamProfileContent-MainSideElement.Online .SteamProfileContent-MainSideElement-Span:first-child {
    color: var(--bg-main) !important;
}

.SteamProfileContent-MainSideElement-Span {
    font-family: "MotivaSansBold", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.SteamProfileContent-MainSideElement.Active {
    background-color: var(--bg-hover);
}

.SteamProfileContent-MainSideElement a {
    width: 100%;
    height: 39px;
    display: flex;
    justify-content: space-between;
}

.SteamProfileContent-MainSideCollumn {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    height: 39px;
    background-color: var(--bg-main);
    flex-direction: column;
    height: 98px;
}

.SteamProfileContent-MainSideElement-Image {
    margin: 5px 0 0 0;
    width: 45px;
    height: 45px;
}

.SteamProfileContent-MainSideElement-Image:first-child {
    padding: 0 0 0 2px;
}

.SteamProfileContent-MainSideElement-Image:nth-child(even) {
    margin: 5px 10px 0;
}

.SteamProfileContent-MainSideElement:nth-child(odd) {
    margin: 6px 0;
}