#GamePageContent-Main {
    max-width: 1566px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* ------------> Products <------------ */
.GamePageContent-Main-Product {
    max-width: 1105px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 26px;
    border-radius: 5px;
    background-color: var(--bg-main-50);
}

.GamePageContent-Main-ProductTitleText {
    font-family: "MotivaSansBold", sans-serif;
    font-weight: bold;
    color: var(--text-main);
    font-size: 22px;
    margin: auto 0;
}

.GamePageContent-Main-ProductTitle {
    display: flex;
    flex-direction: column;
}

.DiscountActive {
    font-family: "MotivaSansRegular", sans-serif;
    font-size: 14px;
    color: var(--color-primary);
}

.GamePageContent-Main-ProductDetail {
    display: flex;
}

.GamePageContent-Main-ProductDetail-Platforms {
    display: flex;
    align-items: center;
    margin: 0 80px 0 0;
}

.GamePageContent-Main-ProductDetail-Platforms svg {
    margin: 0 10px;
}

.GamePageContent-Main-ProductDetail-Platforms svg:last-child {
    transform: scale(0.85);
}

/* ------------> Main <------------ */
#GamePageContent-About {
    max-width: 1105px;
    width: 100%;
    height: auto;
    margin: 0 10px 0 0;
    border-radius: 5px;
    overflow: hidden;
}

#GamePageContent-AboutDetails {
    padding: 27px;
    box-sizing: border-box;
    background-color: var(--bg-main-50);
    margin: 12px 0;
    max-width: 1105px;
    width: 100%;
}

#GamePageContent-AboutDetails-Title {
    font-family: "MotivaSansBold", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: var(--text-dim);
    margin: 30px 0;
}

#GamePageContent-AboutDetails-Text {
    font-family: "MotivaSansRegular", sans-serif;
    font-size: 16px;
    color: var(--text-main);
    text-wrap: wrap;
    letter-spacing: 0.05rem;
    word-spacing: 0.2rem;
    line-height: 1.5;
    white-space: pre-line;
}

#GamePageContent-PlatformsDetails {
    padding: 27px;
    box-sizing: border-box;
    color: var(--text-dim);
    background-color: var(--bg-main-50);
}

@media (width <=1400px) {

    #GamePageContent {
        max-width: none !important;
    }

    #GamePageContent-Main {
        max-width: none;
        flex-direction: column-reverse;
    }

    #GamePageContent-About {
        max-width: 100%;
        width: 100%;
    }

    #GamePageContent-AboutDetails,
    .GamePageContent-Main-Product {
        max-width: none;
    }
}

/* ------------> Sidebar <------------ */
#GamePageContent-Sidebar {
    max-width: 451px;
    width: 100%;
    height: auto;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

.GamePageContent-Sidebar-Element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-main);
    border-radius: 5px;
    height: auto;
    padding: 25px;
    box-sizing: border-box;
}

#GamePageContent-Sidebar-SteamAI {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 5px;
    background: linear-gradient(45deg, var(--color-primary) 0% 10%, var(--color-secondary) 40% 60%, #06BFFF 90% 100%);
    background-size: 400% 100%;
    animation: SteamAIButton 15s ease infinite;
}

#GamePageContent-Sidebar-ElementContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#GamePageContent-Sidebar-Element-Header {
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#GamePageContent-Sidebar-SteamAI {
    cursor: pointer;
}

@keyframes SteamAIButton {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 100% 0%;
    }

    50% {
        background-position: 0% 50%;
    }

    75% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#GamePageContent-Sidebar-Element-Content,
#GamePageContent-Sidebar-Element-Header span,
#GamePageContent-Sidebar-SteamAI p {
    font-family: "MotivaSansBold", sans-serif;
    font-weight: bold;
    margin: 0;
}

#GamePageContent-Sidebar-Element-Header span,
#GamePageContent-Sidebar-SteamAI p  {
    color: var(--text-main);
    font-size: 24px;
}

#GamePageContent-Sidebar-SteamAI p {
    margin: 10px 0 0 0;
}

#GamePageContent-Sidebar-Element-Content {
    margin: 10px 0 0 0;
    width: 100%;
    height: auto;
    font-size: 20px;
    overflow-wrap: break-word;
    color: var(--bg-store);
}

#GamePageContent-Sidebar-Element-Header svg {
    margin: 0 20px 0 0;
}

#GamePageContent-Sidebar-Element-Header path,
#GamePageContent-Sidebar-Element-Header span,
#GamePageContent-Sidebar-SteamAI path,
#GamePageContent-Sidebar-SteamAI span {
    fill: var(--steam-ai);
    color: var(--steam-ai);
}

.GamePageContent-Sidebar-Element:nth-child(even) {
    margin: 12px 0;
}

.GamePageContent-Sidebar-Features-Title {
    font-family: "MotivaSansRegular", sans-serif;
    font-size: 18px;
    color: var(--text-dim);
    margin: 0 0 14px 0;
}

.GamePageContent-Sidebar-Features-Element {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: var(--special-bg);
    padding: 9px 18px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    position: relative;
}

.GamePageContent-Sidebar-Features-Element:nth-child(odd) {
    margin: 7px 0;
}

.GamePageContent-Sidebar-Features-Element span {
    font-family: "MotivaSansRegular", sans-serif;
    font-size: 16px;
    margin: 0 0 0 15px;
    color: var(--color-primary);
}

.GamePageContent-Sidebar-Features-Element.NoLinks span {
    font-family: "MotivaSansRegular", sans-serif;
    font-size: 16px;
    margin: 0 0 0 15px;
    color: var(--text-dim);
}

#GamePageContent-Sidebar-Features-Checkbox:checked ~ .GamePageContent-Sidebar-Features-Element.NoLinks::after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 10px 0 0;
    content: "Texto Copiado";
    color: var(--accent-green);
}

@media (width <=1400px) {

    #GamePageContent-About {
        margin: 0;
    }

    #GamePageContent-Sidebar {
        padding: 0;
    }

    #GamePageContent-Main {
        padding: 0 10px;
        box-sizing: border-box;
    }

    #GamePageContent-Sidebar {
        max-width: none;
    }
}

@media (width <=650px) {
    .GamePageContent-Main-Product {
        flex-direction: column;
        height: 150px;
        align-items: center;
    }

    .GamePageContent-Main-ProductDetail-Platforms {
        display: none;
    }
}