:root {
  --text-main: #F3F3F3;
  --text-dim: #76808C;

  --bg-main: #0E141B;
  --bg-highlight: #1E2329;
  --bg-hover: #313843;
  --bg-secondary: #14344B;
  --bg-tertiary: #212B45;

  --color-primary: #66C0F4;
  --color-secondary: #4B619B;

  --accent-green: #A1CD44;
  --accent-red: #CD5444;
  --accent-yellow: #C1B15F;
}

body {
  background-color: var(--bg-main);
}

@font-face {
  font-family: "MotivaSansBold";
  src: url("/MotivaSansBold.woff.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "MotivaSansMedium";
  src: url("/MotivaSansMedium.woff.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "MotivaSansRegular";
  src: url("/MotivaSansRegular.woff.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "MotivaSansBlack";
  src: url("/MotivaSansBlack.woff.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "MotivaSansLight";
  src: url("/MotivaSansLight.woff.ttf") format("ttf");
  font-weight: 700;
}