:root {
  --text-main: #F3F3F3;
  --text-dim: #76808C;

  --bg-main: #0E141B;
  --bg-main-alter: rgba(14, 20, 27, 0.8);
  --bg-main-20: rgba(14, 20, 27, 0.2);
  --bg-main-50: rgba(14, 20, 27, 0.5);
  --bg-highlight: #1E2329;
  --bg-hover: #313843;
  --bg-secondary: #14344B;
  --bg-tertiary: #212B45;

  --color-primary: #66C0F4;
  --color-secondary: #4B619B;

  --accent-green: #A1CD44;
  --accent-red: #CD5444;
  --accent-yellow: #C1B15F;

  --bg-store: #040011;
  --bg-store-gradient: #04001150;
  --bg-game: #202B3B;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-game);
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
}

@font-face {
  font-family: "MotivaSansBold";
  src: url("/MotivaSansBold.woff.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "MotivaSansMedium";
  src: url("/MotivaSansMedium.woff.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "MotivaSansRegular";
  src: url("/MotivaSansRegular.woff.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "MotivaSansBlack";
  src: url("/MotivaSansBlack.woff.ttf") format("ttf");
  font-weight: 700;
}

@font-face {
  font-family: "MotivaSansLight";
  src: url("/MotivaSansLight.woff.ttf") format("ttf");
  font-weight: 700;
}